.commentClose {
  text-align: center;
  background: #fff;
  padding: 10px;
  transition: all 0.2s ease;
  border: 1px solid transparent;
  border-radius: 4px;
  word-break: break-word;
  margin: 20px 0;
}
