.header-md {
  padding: 20px;
  text-align: center;
  background: #f9f9f9 url('https://www.ihewro.com/usr/uploads/2022/01/2429933165.png') no-repeat center;
  background-size: 100% 100%;
  .font-thin {
    font-weight: 300;
    font-size: 30px;
    font-family: 'TheNautigal';
  }
}
