.wrapper-md {
  padding: 20px;
  .text-md {
    font-size: 14px;
    color: rgb(119, 119, 119);
    font-weight: 300;
  }
  .m-t-none {
    margin-top: 0 !important;
  }
  .list-group {
    border-radius: 2px;
    margin-bottom: 20px;
    padding-left: 0;
    .list-group-item {
      border-color: #e7ecee;
      position: relative;
      display: block;
      padding: 10px 15px;
      margin-bottom: -1px;
      .thumb-sm {
        display: inline-block;
        width: 40px;
        height: auto;
      }

      .m-r {
        margin-right: 15px;
      }
      .pull-left {
        float: left !important;
      }
      .clear {
        font-size: 12px;
        display: block;
        overflow: hidden;
        .l-h {
          line-height: 1.42857143;
        }

        .text-second {
          opacity: 0.8;
          a {
            color: rgb(119, 119, 119);
            font-weight: 400;
          }
        }
        .post-head-icon {
          font-size: 13px;
          margin-top: 10px;
          .meta-views {
            display: flex;
            align-items: center;
          }
          .right-small-icons {
            margin-right: 5px;
          }
        }
        .text-muted {
          color: #a0a0a0;
        }
      }
    }
  }
  .pull-in {
    margin-right: -15px;
    margin-left: -15px;
  }

  .no-bg {
    color: inherit;
    background-color: transparent;
  }
}
.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}
