.breadcrumb {
  display: flex;
  align-items: center;
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  border-radius: 4px;
  color: #777;
  .home-icons {
    transform: rotate(90deg) scale(-1);
  }
  .active {
    color: #777;
    &::before {
      padding: 0 5px;
      color: #ccc;
      content: '/\00a0';
    }
  }
  & > li {
    display: inline-block;
  }
  li:nth-child(1) {
    cursor: pointer;
  }
}
.bg-white-pure {
  background: #fff;
}
