.navbar {
  position: fixed;
  height: calc(100vh - 50px);
  background-color: #f9f9f9;
  // border-right: 1px solid pink;
  transition: transform 0.4s ease;
  transform: translate3d(0, 0, 0);
  z-index: 1010;
  overflow: scroll;
  :global {
    .ant-divider-horizontal {
      margin: 10px 0;
    }
    .ant-menu-submenu-arrow {
      &::before,
      &::after {
        background: #777 !important;
      }
    }
    .ant-menu-item {
      display: flex;
      justify-content: center;
      margin-top: 0px !important;
      color: #777 !important;
      background-color: #f9f9f9;
      // padding: 0 !important;
    }
    .ant-menu-item-active {
      background-color: #ececec !important;
    }
    .ant-menu {
      background-color: #f9f9f9 !important;
      color: #777 !important;
    }
    .ant-menu-item-selected {
      background-color: #ececec !important;
    }
    .ant-menu-title-content {
      color: #777 !important;
    }
  }
  .aside-wrap {
    .nav-wrap {
      .aside-user {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        &:hover {
          background: url(https://cdn.jsdelivr.net/gh/ihewro/handsome-static@8.2.0.2/assets/img/snow.gif);
          background-size: cover;
          color: #999;
          cursor: pointer;
        }
        .img {
          width: 96px;
          height: 96px;
          border-radius: 50%;
          overflow: hidden;
          margin-top: 10px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .username {
          color: #777;
          margin-top: 10px;
          .name {
            margin-right: 5px;
          }
          .icon {
            vertical-align: middle;
            svg {
              width: 10px;
              height: 10px;
            }
          }
        }
        .desc {
          font-weight: 200;
          font-size: 12px;
        }
      }
      .nav-list {
        .label {
          padding-right: 15px;
          padding-left: 15px;
          color: #98a6ad !important;
          margin-bottom: 10px;
          margin-top: 15px;
          font-size: 12px;
        }
        :global(.ant-menu-item-selected .anticon) {
          color: inherit !important;
        }
        :global(.ant-menu-submenu-title .anticon) {
          color: #777 !important;
        }
      }
    }
    .footer-left {
    }
  }
}
.navbar-active {
  z-index: 1010;
  transition: transform 0.4s ease;
  transform: translate3d(-100%, 0, 0);
}
.move-resizable {
  & > div:nth-child(2) {
    width: 2px !important;
    transition: all 0.2s ease;
    &:hover {
      transition: all 0.2s ease;
      background-color: #426ff6;
    }
  }
}
@media (min-width: 768px) {
  .navbar {
    transform: translate3d(0, 0, 0);
    transition: transform 0.4s ease;
  }
}
