.content {
  background-color: #f1f3f4;
  // width: calc(100% - 220px);
  height: auto;
  margin-left: 220px;
  transition: transform 0.4s ease;
  .progress {
    position: relative;
  }
  .flex-1 {
    flex: 1;
  }
  .w-computed {
    width: calc(100% - 240px);
  }
  @media (max-width: 1020px) {
    .w-computed {
      width: 100%;
    }
  }
}

.w-full {
  width: 100%;
  margin-left: 0;
}

.content-collpase {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 50px;
  // overflow: hidden;
  height: 100%;
  transition: transform 0.4s ease;
}
