.warrper-md {
  padding: 20px;
  .single-post.panel {
    border-radius: 6px;
    border: none;
  }
  .panel {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    transition: all 0.2s ease;
  }
}
.wrapper-lg {
  padding: 30px;
}
.text-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bg-light {
  color: #58666e;
  background-color: #edf1f2;
}

// Language: scss
.flex {
  display: flex;
}
.flex-full {
  flex: 1;
}
.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.flex-auto {
  flex: 1 1 auto;
}
.w-220 {
  width: 220px;
}
.h-full {
  height: 100%;
}
.cursor-pointer {
  cursor: pointer;
}
.p-warrper {
  padding: 15px;
}
.bg-default {
  background-color: #f9f9f9;
}
.text-deafult {
  color: #777777;
}
.text-muted {
  color: #98a6ad;
}
.tracking-widest {
  letter-spacing: 0.1em;
}
@media (max-width: 991px) {
  .md-and-down {
    display: none;
  }
}
svg {
  display: block;
  vertical-align: middle;
}
