.warrper-md {
  padding: 20px;
  .single-post.panel {
    border-radius: 6px;
    border: none;
  }
  .panel {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    transition: all 0.2s ease;
  }
}
.wrapper-lg {
  padding: 30px;
}
.text-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bg-light {
  color: #58666e;
  background-color: #edf1f2;
}
