@font-face {
  font-family: 'TheNautigal';
  src: url('~@/assets/fonts/TheNautigal-Regular.ttf');
}
.active {
  .ant-input-affix-wrapper {
    border-color: #40a9ff !important;
    transition: all 0.3s;
  }
}

// 音乐播放器
.aplayer {
  box-shadow: none !important;
  background-color: #f9f9f9 !important;
  margin: 0px !important;
  .aplayer-body {
    width: 205px;
    height: 50px;
    .aplayer-volume-bar {
      height: 28px!important;
    }
  }
  .aplayer-pic {
    background-size: cover;
    background-position: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 20px;
    width: 40px !important;
    height: 40px !important;
    margin-top: 5px;
  }
  .aplayer-button {
    display: none;
  }
  &:hover .aplayer-bar-wrap,
  &:hover .aplayer-volume-wrap,
  &:hover .aplayer-icon-lrc {
    opacity: 1 !important;
    transition: all 0.3s !important;
  }
  .aplayer-list {
    width: 254px;
    position: fixed;
    top: 50px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
    margin: 0 2px 2px 2px;
    transition: all 0.5s ease;
  }
}
.aplayer.aplayer-withlrc .aplayer-info {
  margin-left: 40px !important;
  height: 50px !important;
  padding: 6px 0 0 7px !important;
  border: none !important;
  .aplayer-music {
    margin: 0 15px 5px 5px;
  }
  .aplayer-lrc {
    display: none;
  }
  .aplayer-controller {
    .aplayer-time-inner {
      display: none;
    }
    .aplayer-time {
      .aplayer-icon-forward,
      .aplayer-icon-play,
      .aplayer-icon-back {
        display: inline-block;
      }
      .aplayer-icon-play {
        margin: 0 10px;
      }
    }
    .aplayer-bar-wrap {
      position: absolute;
      left: 0;
      bottom: 0px;
      padding: 0;
      width: 96%;
      opacity: 0;
    }
    .aplayer-volume-wrap {
      margin-left: 38px;
      opacity: 0;
    }
    .aplayer-icon-menu {
      display: none !important;
    }
    .aplayer-icon-lrc {
      display: inline-block;
      opacity: 0;
    }
  }
}
// ant-design组件库样式覆盖
.ant-form-item {
  margin-bottom: 15px;
}
.ant-input,
.ant-input-affix-wrapper {
  border-color: rgba(135, 150, 165, 0.15);
}
.ant-btn-loading-icon {
  span {
    vertical-align: middle;
  }
}
