//初始化样式
@import '~@/style/base/index.scss';
// 公共样式
@import 'common.scss';
// 动态配置样式
@import '~@/style/setting/index.scss';
@import '~@/style/plugin/ant-design.scss';
@import '~@/style/plugin/emoji.scss';
@import '~@/style/plugin/vditor.scss';

@font-face {
  font-family: 'TheNautigal';
  src: url('~@/assets/fonts/TheNautigal-Bold.ttf');
}

.padding-20 {
  padding: 20px;
}
::selection {
  background: #344449 !important;
  color: #fff;
  text-shadow: none;
}
.react-images__view {
  img {
    margin: 0 auto !important;
  }
}

