.sidebar {
  :global(.ant-tabs-nav-list) {
    height: 60px;
    width: 100%;
    justify-content: space-around;
  }
  :global(.ant-tabs-tab) {
    margin: 0 10px !important;
    padding: 0 !important;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  :global(.ant-tabs-ink-bar) {
    background-color: #000;
  }
  :global(.ant-tabs-nav) {
    margin-bottom: 0;
  }
  .active {
    svg {
      color: #000 !important;
    }
  }
  .directory {
    padding: 20px;
  }
}
