.login-btn {
  color: #fff;
  border: none;
  background: #448bff linear-gradient(45deg, #448bff, #44e9ff);
  padding-top: 6px;
  padding-bottom: 6px;
  transition: all 0.2s ease;
  border-radius: 50px;
}
.margin-b {
  margin-bottom: 0px !important;
}
.login-modal {
  :global {
    .ant-form-item-label > label {
      color: #777 !important;
    }
    .ant-btn-primary:hover,
    .ant-btn-primary:focus {
      background: #448bff linear-gradient(45deg, #448bff, #44e9ff);
    }
  }
}
