.layout {
  padding-top: 50px;
}
.footerBox {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}
.content {
  background-color: red;
  // width: calc(100% - 220px);
  height: auto;
  // margin-left: 220px;
  transition: transform 0.4s ease;
  padding-bottom: 60px;

  .progress {
    position: relative;
  }
  .flex-1 {
    flex: 1;
  }
  .w-computed {
    width: calc(100% - 240px);
  }
  @media (max-width: 1020px) {
    .w-computed {
      width: 100%;
    }
  }
}